<!DOCTYPE html>
<!--[if IE 9]>
<html class="ie9 no-focus" lang="en"> <![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-focus" lang="en"> <!--<![endif]-->
<head>
    {% include 'head.html.twig' %}
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
<!-- Page Container -->
<!--
    Available Classes:

    'enable-cookies'             Remembers active color theme between pages (when set through color theme list)

    'sidebar-l'                  Left Sidebar and right Side Overlay
    'sidebar-r'                  Right Sidebar and left Side Overlay
    'sidebar-mini'               Mini hoverable Sidebar (> 991px)
    'sidebar-o'                  Visible Sidebar by default (> 991px)
    'sidebar-o-xs'               Visible Sidebar by default (< 992px)

    'side-overlay-hover'         Hoverable Side Overlay (> 991px)
    'side-overlay-o'             Visible Side Overlay by default (> 991px)

    'side-scroll'                Enables custom scrolling on Sidebar and Side Overlay instead of native scrolling (> 991px)

    'header-navbar-fixed'        Enables fixed header
-->

<div id="page-container" class="sidebar-l sidebar-o side-scroll header-navbar-fixed">

    <!-- Sidebar -->
    <nav id="sidebar">
        <!-- Sidebar Scroll Container -->
        <div id="sidebar-scroll">
            <!-- Sidebar Content -->
            <!-- Adding .sidebar-mini-hide to an element will hide it when the sidebar is in mini mode -->
            <div class="sidebar-content">
                <!-- Side Header -->
                <div class="side-header side-content bg-white-op">
                    <!-- GO to HOME -->
                    {% block Home %}{% endblock %}
                    <!-- GO to HOME -->
                </div>
                <!-- END Side Header -->

                <!-- Side Content -->
                {% block sideBarContent %}{% endblock %}
                <!-- END Side Content -->
            </div>
            <!-- Sidebar Content -->
        </div>
        <!-- END Sidebar Scroll Container -->
    </nav>
    <!-- END Sidebar -->
    <!-- Header -->
    {% block header %}
    {% endblock %}
    <!-- END Header -->
    <!-- Main Container -->
    <main id="main-container">
        <!-- Page Header -->
        {% block pageHeader %}{% endblock %}
        <!-- END Page Header -->

        <!-- Page Content -->
        <div class="content">
            {% block fullTable %}{% endblock %}
            {% block paginator %} {% endblock %}
            {% block scheduleTable %}{% endblock %}
            {% block formStudent %}{% endblock %}
            {% block formUser %}{% endblock %}
        </div>
        <!-- END Page Content -->
    </main>
    <!-- END Main Container -->
    {% include 'footer.html.twig' %}

</div>
<!-- END Page Container -->

{% include 'javascrips.html.twig' %}
</body>
</html>
