<div class="container">

    <!-- Footer -->
    <footer class="page-footer font-small blue" fixed>
        <div class="footer-copyright text-center py-3"> © <?php echo date("Y"); ?> with ♥ by
            Game of THREADS</a>
        </div>
        <br> <br> <br> <br>
    </footer>
    <!-- Footer -->
</div>
