{% extends 'base.html.twig' %}

{% block title  %} Welcome to Hackathon 2019 {% endblock %}

{% block body %}
    <br><br><br>
    {{ include('menu.html.twig') }}

    <div class="container">
        <br><br><br><br><br><br>
        <div class="flex-center position-ref ">

            <img class="img-rounded"
             src="{{asset("images/hackathon.png")}}"
             style="width:450px;height:200px;">
        </div>


        <div class="flex-center position-ref ">


            <div class="content">
                <div class="title m-b-md">
                    <br>
                    Hackathon 2019
                </div>

                <div class="links">
                    the easy way to code the future <span class="far fa-smile-wink"></span>
                    <br><br><br><br><br><br>

                </div>
            </div>
        </div>
    </div>

{% endblock %}

        {% block javascripts %}
        {% endblock %}
