<nav class="navbar navbar-expand-sm navbar-dark bg-light mb-3">
    <div class="container">

        <a href="/" class="navbar-brand" style="color: #313131">  the Team of "Game Of THREADS" </a>
        <br><br><br>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mobile-nav">
            <span class="navbar-toggle-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="mobile-nav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="/" class="nav-link" style="color: #313131"><span class="fas fa-users-cog"> </span> Log IN</a>
                </li>
            </ul>
        </div>
    </div>
</nav>