<!DOCTYPE html>
<!--[if IE 9]>
<html class="ie9 no-focus" lang="en"> <![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-focus" lang="en"> <!--<![endif]-->
<head>
    {% include 'head.html.twig' %}
    <title>Register</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>

</head>
<body>
<!-- Login Content -->
<div class="content overflow-hidden">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
            <!-- Login Block -->
            <div class="block block-themed animated fadeIn">

                {#{% trans_default_domain 'FOSUserBundle' %}#}

                {#{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}#}
                {#{{ form_widget(form) }}#}
                {#<div>#}
                {#<input type="submit" value="{{ 'registration.submit'|trans }}" />#}
                {#</div>#}
                {#{{ form_end(form) }}#}


                <!-- Personal Tab -->
                <div class="tab-pane fade in active" id="tab-profile-personal">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3 form-horizontal">
                            {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr':{'class':'form-horizontal push-10-t'}}) }}
                            <div>
                                <div>
                                    {{ form_label(form.email) }}
                                    {{ form_widget(form.email) }}
                                </div>
                            </div>
                            <div >
                                <div>
                                    {{ form_label(form.username) }}
                                    {{ form_widget(form.username) }}
                                </div>
                            </div>
                            <div >
                                <div >
                                    {#{{ form_label(form.plainPassword) }}#}
                                    {{ form_widget(form.plainPassword) }}
                                </div>
                            </div>

                            <div >
                                {{ form_widget(form._token) }}
                                {{ form_label(form.submit) }}
                                {{ form_widget(form.submit) }}
                            </div>

                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{#<!-- END Personal Tab -->#}


</body>
{% include 'javascrips.html.twig' %}
</html>