{% extends 'base.html.twig' %}
{% block title %}
    {{ userLogIn.name |capitalize }} {{ userLogIn.surname |capitalize }}
{% endblock %}
{% block fullTable %}
    Bine ai venit {{ userLogIn.username |capitalize }}
{% endblock %}
