<!DOCTYPE html>
<!--[if IE 9]>         <html class="ie9 no-focus" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-focus" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">

    <title>BMI</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://bootswatch.com/4/cosmo/bootstrap.min.css">

    <meta name="description" content="OneUI - Admin Dashboard Template &amp; UI Framework created by pixelcave and published on Themeforest">
    <meta name="author" content="pixelcave">
    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0">

    <!-- Icons -->
    <!-- The following icons can be replaced with your own, they are used by desktop and mobile browsers -->


    <!-- Stylesheets -->
    <!-- Web fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400italic,600,700%7COpen+Sans:300,400,400italic,600,700">

    <!-- Bootstrap and OneUI CSS framework -->
    <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
    <link rel="stylesheet" id="css-main" href="{{ asset('assets/css/oneui.css') }}">

    <!-- You can include a specific file from css/themes/ folder to alter the default color theme of the template. eg: -->
    <!-- <link rel="stylesheet" id="css-theme" href="assets/css/themes/flat.min.css"> -->
    <!-- END Stylesheets -->
</head>
<body>
<!-- Page Container -->
<!--
    Available Classes:

    'enable-cookies'             Remembers active color theme between pages (when set through color theme list)

    'sidebar-l'                  Left Sidebar and right Side Overlay
    'sidebar-r'                  Right Sidebar and left Side Overlay
    'sidebar-mini'               Mini hoverable Sidebar (> 991px)
    'sidebar-o'                  Visible Sidebar by default (> 991px)
    'sidebar-o-xs'               Visible Sidebar by default (< 992px)

    'side-overlay-hover'         Hoverable Side Overlay (> 991px)
    'side-overlay-o'             Visible Side Overlay by default (> 991px)

    'side-scroll'                Enables custom scrolling on Sidebar and Side Overlay instead of native scrolling (> 991px)

    'header-navbar-fixed'        Enables fixed header
-->
<div class="container">
    <!-- Main Container -->
    <main id="main-container" >
        <!-- Page Header -->

        <div class="content ">

            <img src="{{ asset('assets/img/images/header.jpg') }}"
                 style="width:1024px;height:250px;">


        </div>
        <!-- END Page Header -->
        <hr>



        <div class="content border-b">
            <div class="row items-push">
                <div class="col-xs-12">





                    <div class="btn-group" >
                        <button class="btn btn-default btn-image dropdown-toggle" data-toggle="dropdown" type="button">
                            <img src="{{ asset('assets/img/avatars/avatar10.jpg') }}" alt="Avatar">

                            Profil utilizator: {{ userLogIn.name }} {{ userLogIn.surname }}
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li>
                                {#Block Profile#}
                                {% block Profile %}
                                {% endblock %}
                            </li>
                            <li>
                                <a tabindex="-1" href="{{ path('fos_user_security_logout') }}">
                                    <i class="si si-logout pull-right"></i>Log out
                                </a>
                            </li>
                        </ul>
                    </div>
                        <br>
                    <h2 style="text-align: center;"> <i class="fas fa-chart-pie"></i> BMI : {{ bmi }} </h2> <br><br>



            </div>
        </div>




        <!-- Start Buton SCAN  -->
        <div style=" width: 100%;">
            <div style="width: 300px; margin: 0 auto;">
                <div class="col-12 ">
                    <br><br>
                    <a class="block block-link-hover1 text-center" href="{{ path('scan_barcode') }}">
                        <img class="img-responsive" src="{{ asset('assets/img/images/scan_button.jpg') }}" alt ="bmi chart" style="width:300px;height:300px;">
                        <br>

                        <div class="block-content block-content-full block-content-mini  "  style="background-color: #db342b">
                            <strong style="color: white;">SCANEAZA PRODUS</strong>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <!-- END Buton SCAN  -->




        <!-- Page Content -->
        <div class="content content-boxed">



            <br> <br> <br><br> <br> <br><br> <br> <br>

            <div class="col-sm-4 col-lg-4">
                <a class="block block-link-hover1 text-center" href="javascript:void(0)">
                    <div class="block-content block-content-full bg-primary">
                        <i class="fas fa-search fa-5x text-white"></i>
                    </div>
                    <div class="block-content block-content-full block-content-mini">
                        <strong>CAUTA ADITIV</strong>
                    </div>
                </a>
            </div>
            <div class="col-sm-4 col-lg-4">
                <a class="block block-link-hover1 text-center" href="{{ path('read_ingredients') }}">
                    <div class="block-content block-content-full bg-modern-dark">
                        <i class="fas fa-list fa-5x text-white"></i>
                    </div>
                    <div class="block-content block-content-full block-content-mini">
                        <strong>CITIRE INGREDIENTE </strong>
                    </div>
                </a>
            </div>
            <div class="col-sm-4 col-lg-4">
                <a class="block block-link-hover1 text-center" href="javascript:void(0)">
                    <div class="block-content block-content-full bg-danger">
                        <i class="si si-bar-chart fa-5x text-white"></i>
                    </div>
                    <div class="block-content block-content-full block-content-mini">
                        <strong>DIAGRAME ISTORIC</strong>
                    </div>
                </a>
            </div>
            <br><br> <br> <br><br><br> <br> <br>
        </div>
        <br> <br> <br> <br> <br><br>
        <!-- END Page Content -->
    </main>
    <!-- END Main Container -->

    <!-- Footer -->
    <div class="container">
        <br> <br> <br> <br> <br>
        <!-- Footer -->
        <footer class="page-footer font-small blue" fixed>

            <!-- Copyright -->
            <div class="footer-copyright text-center py-3"> © <?php echo date("Y"); ?> with ♥ by GoT 2019
            </div>
            <!-- Copyright -->

        </footer>
        <br> <br> <br> <br> <br>
        <!-- Footer -->
    </div>

    <!-- END Footer -->
</div>
<!-- END Page Container -->



<!-- OneUI Core JS: jQuery, Bootstrap, slimScroll, scrollLock, Appear, CountTo, Placeholder, Cookie and App.js -->
<script src="{{ asset('assets/js/core/jquery.min.js') }}"></script>
<script src="{{ asset('assets/js/core/bootstrap.min.js') }}"></script>
<script src="{{ asset('assets/js/core/jquery.slimscroll.min.js') }}"></script>
<script src="{{ asset('assets/js/core/jquery.scrollLock.min.js') }}"></script>
<script src="{{ asset('assets/js/core/jquery.appear.min.js') }}"></script>
<script src="{{ asset('assets/js/core/jquery.countTo.min.js') }}"></script>
<script src="{{ asset('assets/js/core/jquery.placeholder.min.js') }}"></script>
<script src="{{ asset('assets/js/core/js.cookie.min.js') }}"></script>
<script src="{{ asset('assets/js/app.js') }}"></script>
</body>
</html>