<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>After scan view</title>
    <meta name="description" content="OneUI - Admin Dashboard Template &amp; UI Framework created by pixelcave and published on Themeforest">
    <meta name="author" content="pixelcave">
    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0">
    <!-- Web fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400italic,600,700%7COpen+Sans:300,400,400italic,600,700">

    <!-- Bootstrap and OneUI CSS framework -->
    <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
    <link rel="stylesheet" id="css-main" href="{{ asset('assets/css/oneui.css') }}">
</head>
<body>
<div class=" container">
    <main id="main-container">
        <div class="row">
            <img  class="img-avatar16 img-responsive" src="{{ asset('assets/img/images/logo.jpg') }}" alt ="logo food">
        </div>
        <div class="block">
            <div class="block-header">
                <h3>Continut Produs</h3>
            </div>
            <div class="block-content">
                <p class="push-30">Acest produs contine <strong>{{ aditives|length }}</strong> aditivi </p>
                <div class="table-responsive">
                    <table class="table table-striped table-vcenter">
                        <thead>
                        <tr>
                            <th style="width: 15%;">Cod</th>
                            <th style="width: 40%;">Denumire</th>
                            <th style="width: 20%;">Categorie</th>
                            <th style="width: 20%">Cantitate produs admisa</th>
                        </tr>
                        </thead>
                        <tbody>
                        {%   for aditiv in aditives %}
                        <tr>
                            <td>{{ aditiv.cod }}</td>
                            <td>{{ aditiv.denumire }}</td>
                            <td>{{ aditiv.nocivitate }}</td>
                            <td>{%  if aditiv.getAllowedQuantity(user) ==0  %}
                                    <p style="color: red"> Nu consumati acest produs!</p>
                                {% elseif aditiv.getAllowedQuantity(user) ==1000042 %}
                                    <p style="color: green">Nu exista restrictii de consum.</p>
                                {% else %}
                                    <p style="color: yellow"> {{ aditiv.getAllowedQuantity(user) }} Grame/Litri produs </p>
                                {% endif %}
                            </td>
                        </tr>
                        {%  endfor  %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>
    <div class="bg-white border-t border-b">
        <section class="content content-full content-boxed">
            <!-- Section Content -->
            <div class="push-20-t push-20">
                <h3>Recomandare:</h3>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="block block-transparent">
                        <div class="block-content">
                            <p> {% if aditives|length<1 %}
                                Acest produs nu contine aditivi/alergeni care sa va afecteze !
                                {% else %}
                                {% if allowedQuantity==0 %}
                            <p style="color: red"> Nu consumati acest produs!</p>
                            {% elseif allowedQuantity==1000042 %}
                                <p style="color: green">Nu exista restrictii de consum.</p>
                            {% else %}
                                <p style="color: yellow">Va recomandam sa nu consumati mai mult de {{ allowedQuantity }} Grame/Litri produs.</p>.
                            {% endif %}
                            {% endif %}
                            </p>
                        </div>
                    </div>
                </div>
            </div>  <!-- END Section Content -->
        </section>
    </div>
    <div class="push-20-t push-20 text-center">
        <a class="btn btn-rounded btn-noborder btn-lg btn-success" href="{{ path('TyFprofile') }}">Inapoi la dashboard</a>
    </div>
    <div class="push-20-t push-20 text-center">
        <a class="btn btn-rounded btn-noborder btn-lg btn-success" href="javascript:void(0)//register">Adauga in istoric</a>
    </div>
    <!-- END Get Started -->
    <!-- END Main Container -->
    <footer id="page-footer" class="content-mini content-mini-full font-s12 bg-gray-lighter clearfix">
        <div class="pull-right">
            Crafted with <i class="fa fa-heart text-city"></i> by Game of threads
        </div>
        <div class="pull-left">
            <a class="font-w600" href="http://goo.gl/6LF10W" target="_blank"></a> &copy; <span class="js-year-copy">2019</span>
        </div>
    </footer>
</div>

</body>
</html>