<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Landing Page </title>
    <meta name="description" content="OneUI - Admin Dashboard Template &amp; UI Framework created by pixelcave and published on Themeforest">
    <meta name="author" content="pixelcave">
    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0">

    <!-- Icons -->
    <!-- The following icons can be replaced with your own, they are used by desktop and mobile browsers -->


    <!-- Stylesheets -->
    <!-- Web fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400italic,600,700%7COpen+Sans:300,400,400italic,600,700">

    <!-- Bootstrap and OneUI CSS framework -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" id="css-main" href="assets/css/oneui.css">
</head>
<body>

<div class=" container">
    <main id="main-container">
        <!-- Page Content -->
        <div class="row">
            <img class="img-responsive" src="assets/img/images/logo.jpg" alt ="logo food">
        </div>
        <div class="content content-boxed">
            <!-- Page Header -->

            <!-- END Page Header -->

        </div>
        <!-- END Page Content -->
        <div class="bg-white">
            <section class="content content-boxed">
                <!-- Section Content -->
                <h1 class="text-black text-center push-30-t push-10" data-toggle="appear" data-class="animated zoomIn">Alege sanatos</h1>
                <div class="row push-50-t push-50 nice-copy-story">
                    <div class="col-sm-8 col-sm-offset-2">
                        <p>TyF identifica prin scanare eticheta produsului alimentar si evidentiaza riscurile consumului de aditivi si coloranti.
                            Utilizatorul primeste recomandari, in functie de profilul sau, vis a-vis de nocivitatea produsului</p>
                    </div>
                </div>
                <div class="push-20-t push-20 text-center">
                    <a class="btn btn-rounded btn-noborder btn-lg btn-success" href="{{ path('fos_user_security_login') }}">Autentificare</a>
                </div>
            </section>
        </div>
        <hr>
        <h3 class="h4 push-20">Declinarea Responsabilitatii</h3>
        <p> Aceasta aplicatie <strong>Nu</strong> inlocuieste activitatea medicului nutritionist sau a medicului curant.
            Informatiile prezentate au caracter orientativ
        </p>
    </main>
    <div class="bg-gray-light border-t border-b">
        <section class="content content-full content-boxed">
            <!-- Section Content -->
            <div class="push-20-t push-20 text-center">
            </div>
            <!-- END Section Content -->
        </section>
    </div>
    <!-- END Get Started -->
    <!-- END Main Container -->
    <footer id="page-footer" class="content-mini content-mini-full font-s12 bg-gray-lighter clearfix">
        <div class="pull-right">
            Crafted with <i class="fa fa-heart text-city"></i> by Game of threads
        </div>
        <div class="pull-left">
            <a class="font-w600" href="http://goo.gl/6LF10W" target="_blank"></a> &copy; <span class="js-year-copy">2019</span>
        </div>
    </footer>
</div>
</body>
</html>