<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Web fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400italic,600,700%7COpen+Sans:300,400,400italic,600,700">

    <!-- Bootstrap and OneUI CSS framework -->
    <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
    <link rel="stylesheet" id="css-main" href="{{ asset('assets/css/oneui.css') }}">
</head>
<body>
<div class="container">
    <!-- Main Container -->
    <main id="main-container">
        <div class="block-content" style="margin: 0 auto;">
            <h3 style="color: mediumvioletred;">Produsul tau nu a fost gasit. Te rugam sa fotografiezi ingredientele.</h3>
                {{ form_start(form) }}
            <div class="row">
                <div class="col">
                    {{ form_label(form.image) }}
                    {{ form_widget(form.image) }}
                </div>
            </div>
            <div class="row">
                <div class="col" style="margin-top: 10px;">
                    {{ form_label(form.save) }}
                    {{ form_widget(form.save) }}
                </div>
            </div>
                {{ form_end(form) }}
            <div class="push-20-t push-20 text-center">
                <a class="btn btn-rounded btn-noborder btn-lg btn-success" href="{{ path('TyFprofile') }}">Inapoi la dashboard</a>
            </div>
            <div class="push-20-t push-20 text-center">
                <a class="btn btn-rounded btn-noborder btn-lg btn-success" href="javascript:void(0)//register">Adauga in istoric</a>
            </div>
        </div>
    </main>
</div>
<script>
    var myInput = document.getElementById('form_image');

    function sendPic() {
        var file = myInput.files[0];

// Send file here either by adding it to a `FormData` object
// and sending that via XHR, or by simply passing the file into
// the `send` method of an XHR instance.
    }

    myInput.addEventListener('change', sendPic, false);

</script>

</body>
