<!DOCTYPE html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


</head>
<html>
<body>
<p>Please check if there are any remaining cameras available for connection.</p>
<p>
    Opening the camera at a non-secure site may fail.
    Please refer to <a href="https://developer.mozilla.org/en-US/docs/Web/API/MediaDevices/getUserMedia#Security" target="_blank">this</a>
    for more info.
</p>

<script src="https://demo.dynamsoft.com/dbr_wasm/js/dbr-6.5.1.min.js"></script>
<script>
    // https://www.dynamsoft.com/CustomerPortal/Portal/TrialLicense.aspx
    BarcodeReader.licenseKey = 't0068NQAAAA/AQDyDUe8b2CgDxafy9HZmeADHB3QCBdytQk1O8Qsmi6Bi1L+chcogIm5ITHwYdUoV0odcukOUGrVQZGj9WQ8=';
    let scanner = new BarcodeReader.Scanner({
            onFrameRead: results => {console.log(results);},
    onNewCodeRead: (txt, result) => {
                document.getElementById("bar_code").value = txt;
                document.getElementById("form42").submit();
            }
    });
    scanner.open().catch(ex=>{
        console.log(ex);

    document.getElementById("bar_code").value = ex.message || ex;

    scanner.close();
    });
</script>
<div style=" position: fixed; width: 100%; height: 60px; left: 0px; top: 0px; background: rgb(238, 238, 238); text-align: center;">
    <form action="{{ path('check_barcode') }}" id="form42" class="form-inline justify-content-center" method="get" style="">
        <div class="form-group mb-2">
            <label style ="margin-right:10px;" for="bar_code">Cod</label>
            <input  style="margin-top: 10px" id="bar_code" name="code" />
        </div>
        <button  style ="margin-left: 10px;" class="btn btn-primary btn-sm" type="submit">Cauta</button>
    </form>

</div>

</body>
</html>